@font-face {
	font-family: "Doppio";
	src: url("fonts/DoppioOne-Regular.ttf");
	font-style: normal;
	font-weight: normal;
	}

@font-face {
	font-family: "Bebas";
	src: url("fonts/bebas_neue_regular.otf");
	font-style: normal;
	font-weight: normal;
	}